{% extends 'navigation/navigation.html' %}
{% load static %}
{% block title %}Customer Registration{% endblock %}

  {% block header %}
  <link rel="stylesheet" href="{% static 'css/customerStyles.css' %}">
  {% endblock %}

  {% block content %}
  <div class="container p-4 pb-5">
    <div class="row h3">Add New Customer</div>
    <div class="row text-center mt-4" id="stepLinks">

      <div class="col h5 mb-0 active" id="personalLink" href="#personalInfo">
        Personal Information
      </div>
      <div class="col h5 mb-0" id="educationalLink" href="#educationalBackground">
        Educational Background
      </div>
      <div class="col h5 mb-0" id="professionalLink" href="#professionalBackground">
        Professional Background
      </div>

    </div>
    <div class="row" style=" border-right: 1px solid #fcd462;">
        <div class="col-4 p-0"><div id="progress1"></div></div>
        <div class="col-4 p-0"><div id="progress2"></div></div>
        <div class="col-4 p-0"><div id="progress3"></div></div>
    </div>
    <div class="row border border-top-0">
      <div class="col pt-3 pb-3">
        <!--Add customer form-->
        <form id="addCustomerForm" method="POST">
          {% csrf_token %}
          <!--Personal information-->
          <div id="personalInfo">

            <div class="form-row h6 pl-3">Name</div>
            <div class="form-row">
              <div class="col">
                <input type="text" class="form-control" name="firstName" placeholder="First Name" >
              </div>
              <div class="col">
                <input type="text" class="form-control" name="middleName" placeholder="Middle Name" >
              </div>
              <div class="col">
                <input type="text" class="form-control" name="lastName" placeholder="Last Name" >
              </div>
            </div>

            <div class="form-row h6 pl-3 pt-3">Address</div>
            <div class="form-row">
              <div class="col">
                <input type="text" class="form-control" name="street" placeholder="Street" >
              </div>
              <div class="col">
                <input type="text" class="form-control" name="barangay" placeholder="Barangay" >
              </div>
              <div class="col">
                <input type="text" class="form-control" name="city" placeholder="City" >
              </div>
            </div>
             <div class="form-row pt-2">
              <div class="col">
                <input type="text" class="form-control" name="province" placeholder="Province" >
              </div>
              <div class="col">
                <input type="text" class="form-control" name="zipCode" placeholder="ZIP Code" >
              </div>
              <div class="col">
                <input type="text" class="form-control" name="country" placeholder="Country" >
              </div>
            </div>

            <div class="form-row h6 pl-2 pt-3">
              <div class="col">Birthdate</div>
              <div class="col">Status</div>
              <div class="col">Gender</div>
            </div>
            <div class="form-row">
              <div class="col">
                <input type="date" name="birthdate" class="form-control">
              </div>
              <div class="col">
                <select class="form-control" name="status">
                  <option>Single</option>
                  <option>Married</option>
                  <option>Divorced</option>
                  <option>Widow/Widower</option>
                </select>
              </div>
              <div class="col">
                <select class="form-control" name="gender">
                  <option>Male</option>
                  <option>Female</option>
                </select>
              </div>
            </div>

            <div class="form-row h6 pl-2 pt-3">
               <div class="col-6">Spouse</div>
               <div class="col-4"></div>
               <div class="col-2">No. of Children</div>
            </div>
            <div class="form-row">
              <div class="col-6">
                <input type="text" class="form-control" name="spouseName" placeholder="Spouse's Name" >
              </div>
              <div class="col-4">
                <input type="text" class="form-control" name="spouseOccupation" placeholder="Spouse's Occupation" >
              </div>
              <div class="col-2">
                <input type="number" class="form-control" name="childrenNum" placeholder="0" >
              </div>
            </div>

            <div class="form-row h6 pl-2 pt-3">
               <div class="col">Mother</div>
               <div class="col"></div>
            </div>
            <div class="form-row">
              <div class="col">
                <input type="text" class="form-control" name="motherName" placeholder="Mother's Name" >
              </div>
              <div class="col">
                <input type="text" class="form-control" name="motherOccupation" placeholder="Mother's Occupation" >
              </div>
            </div>

            <div class="form-row h6 pl-2 pt-3">
               <div class="col">Father</div>
               <div class="col"></div>
            </div>
            <div class="form-row">
              <div class="col">
                <input type="text" class="form-control" name="fatherName" placeholder="Father's Name" >
              </div>
              <div class="col">
                <input type="text" class="form-control" name="fatherOccupation" placeholder="Father's Occupation" >
              </div>
            </div>

            <div class="form-row h6 pl-2 pt-3">
                <div class="col-3">Height(cm)</div>
                 <div class="col-3">Weight(kg)</div>
                 <div class="col-6">Religion</div>
            </div>
            <div class="form-row">
              <div class="col-3">
                <input type="number" class="form-control" name="height" placeholder="0" >
              </div>
              <div class="col-3">
                <input type="number" class="form-control" name="weight" placeholder="0" >
              </div>
              <div class="col-6">
                <input type="text" class="form-control" name="religion" placeholder="Religion" >
              </div>
            </div>
            
            <div class="form-row h6 pl-3 pt-3">Profile Picture</div>
            <div class="form-row pl-2 align-items-end">
              <div class="picBox"><img src="{% static 'images/img1.jpg' %}" class="picBoxImage" id="profDisplay"></div>
              <label for="profpic" class="profpic-upload ml-2 mb-0">
                <i class="material-icons align-middle">add_photo_alternate</i>
                Choose File
              </label>
              <input type="file" id="profpic" accept="image/*" onchange="readURL(this);" hidden>
            </div>

            <div class="form-row h6 pl-2 pt-5">
              <button type="button" class="btn formButton px-5" id="personalNext">Next</button>
            </div>

          </div>
          <!--/Personal information-->

          <!--Educational background-->
          <div id="educationalBackground" hidden>

            <div class="form-row h6 pl-2">
              <div class="col-6">Elementary School</div>
               <div class="col-3">Grade</div>
               <div class="col-3">Year</div>
            </div>
            <div class="form-row">
              <div class="col-6">
                <input type="text"class="form-control" placeholder="School" >
              </div>
              <div class="col-3">
                <input type="number"class="form-control" placeholder="0" >
              </div>
              <div class="col-3">
                <input type="date"class="form-control" >
              </div>
            </div>
            <div class="form-row h6 pl-3 pt-2">Awards</div>
            <div class="form-row">
              <div class="col-3">
                <input type="number"class="form-control awardsCounter" placeholder="0" >
              </div>
              <div class="col-9">
                <ol class="awardsList">
                  <!--Append awards here-->
                </ol>
              </div>
            </div>

            <div class="form-row h6 pl-2 pt-5">
              <div class="col-6">Junior High School</div>
               <div class="col-3">Grade</div>
               <div class="col-3">Year</div>
            </div>
            <div class="form-row">
              <div class="col-6">
                <input type="text"class="form-control" placeholder="School" >
              </div>
              <div class="col-3">
                <input type="number"class="form-control" placeholder="0" >
              </div>
              <div class="col-3">
                <input type="date"class="form-control" >
              </div>
            </div>
            <div class="form-row h6 pl-3 pt-2">Awards</div>
            <div class="form-row">
              <div class="col-3">
                <input type="number"class="form-control awardsCounter" placeholder="0" >
              </div>
              <div class="col-9">
                <ol class="awardsList">
                  <!--Append awards here-->
                </ol>
              </div>
            </div>

            <div class="form-row h6 pl-2 pt-5">
              <div class="col-6">Senior High School</div>
               <div class="col-3">Grade</div>
               <div class="col-3">Year</div>
            </div>
            <div class="form-row">
              <div class="col-6">
                <input type="text"class="form-control" placeholder="School" >
              </div>
              <div class="col-3">
                <input type="number"class="form-control" placeholder="0" >
              </div>
              <div class="col-3">
                <input type="date"class="form-control" >
              </div>
            </div>
            <div class="form-row pt-2">
              <div class="col-6">
                <input type="text"class="form-control" placeholder="Strand" >
              </div>
              <div class="col-6"></div>
            </div>
            <div class="form-row h6 pl-3 pt-2">Awards</div>
            <div class="form-row">
              <div class="col-3">
                <input type="number"class="form-control awardsCounter" placeholder="0" >
              </div>
              <div class="col-9">
                <ol class="awardsList">
                  <!--Append awards here-->
                </ol>
              </div>
            </div>

            <div class="form-row h6 pl-2 pt-5">
              <div class="col-6">College</div>
               <div class="col-3">Level</div>
               <div class="col-3">Year</div>
            </div>
            <div class="form-row">
              <div class="col-6">
                <input type="text"class="form-control" placeholder="School" >
              </div>
              <div class="col-3">
                <input type="number"class="form-control" placeholder="0" >
              </div>
              <div class="col-3">
                <input type="date"class="form-control" >
              </div>
            </div>
            <div class="form-row pt-2">
              <div class="col-6">
                <input type="text"class="form-control" placeholder="Course" >
              </div>
              <div class="col-6"></div>
            </div>
            <div class="form-row h6 pl-3 pt-2">Awards</div>
            <div class="form-row">
              <div class="col-3">
                <input type="number"class="form-control awardsCounter" placeholder="0" >
              </div>
              <div class="col-9">
                <ol class="awardsList">
                  <!--Append awards here-->
                </ol>
              </div>
            </div>

            <div class="form-row h6 pl-2 pt-5">
              <div class="col-6">Post Graduate</div>
               <div class="col-3">Level</div>
               <div class="col-3">Year</div>
            </div>
            <div class="form-row">
              <div class="col-6">
                <input type="text"class="form-control" placeholder="School" >
              </div>
              <div class="col-3">
                <input type="number"class="form-control" placeholder="0" >
              </div>
              <div class="col-3">
                <input type="date"class="form-control" >
              </div>
            </div>
            <div class="form-row pt-2">
              <div class="col-6">
                <input type="text"class="form-control" placeholder="Course" >
              </div>
              <div class="col-6"></div>
            </div>
            <div class="form-row h6 pl-3 pt-2">Awards</div>
            <div class="form-row">
              <div class="col-3">
                <input type="number"class="form-control awardsCounter" placeholder="0" >
              </div>
              <div class="col-9">
                <ol class="awardsList"><!--Append awards here--></ol>
              </div>
            </div>
            
            <div class="form-row h6 pl-2 pt-5">
              <button type="button" class="btn formButton px-5 mr-2" id="educationalPrevious">Previous</button>
              <button type="button" class="btn formButton px-5" id="educationalNext">Next</button>
            </div>

          </div>
          <!--/Educational background-->

          <!--Professional background-->
          <div id="professionalBackground" hidden>

            <div class="form-row h6 pl-2">Number of Trainings</div>
            <div class="form-row">
              <div class="col-3">
                <input type="number"class="form-control trainingsCounter" placeholder="0">
              </div>
              <div class="col-9"></div>
            </div>
            <div class="form-row">
              <div class="col">
                <ol id="trainingsList"><!--Append trainings here--></ol>
              </div>
            </div>
            
            <div class="form-row h6 pl-2 pt-5">
              <button type="button" class="btn formButton px-5 mr-2" id="professionalPrevious">Previous</button>
              <button type="submit" class="btn formButton px-5">Finish</button>
            </div>

          </div>
          <!--/Professional background-->

        </form>
        <!--/Add customer form-->
      </div>
    </div>
  </div>
  {% endblock %}

  <!--scripts-->
  {% block footer %}
  <script src="{% static 'js/customerScript.js' %}"></script>
  <script>
		$("a[href='../customer/registration']").children().addClass('active').parent().parent().siblings().children().children().removeClass('active');
	</script>
  {% endblock %}
	<!--/scripts-->