{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Customer Registration</title>
  <link rel="icon" href="{% static 'images/GM.png' %}"/>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/customerStyles.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
  <div class="container p-4 pb-5">
    <div class="row h3">Add New Customer</div>
    <div class="row text-center mt-4" id="stepLinks">

      <div class="col h5 mb-0 active" id="personalLink" href="#personalInfo">
        Personal Information
      </div>
      <div class="col h5 mb-0" id="educationalLink" href="#educationalBackground">
        Educational Background
      </div>
      <div class="col h5 mb-0" id="professionalLink" href="#professionalBackground">
        Professional Background
      </div>

    </div>
    <div class="row" style=" border-right: 1px solid #fcd462;">
        <div class="col-4 p-0"><div id="progress1"></div></div>
        <div class="col-4 p-0"><div id="progress2"></div></div>
        <div class="col-4 p-0"><div id="progress3"></div></div>
    </div>
    <div class="row border border-top-0">
      <div class="col pt-3 pb-3">
        <!--Add customer form-->
        <form id="addCustomerForm">
          <!--Personal information-->
          <div id="personalInfo">

            <div class="form-row h6 pl-3">Name</div>
            <div class="form-row">
              <div class="col">
                <input type="text"class="form-control" placeholder="First Name" required>
              </div>
              <div class="col">
                <input type="text"class="form-control" placeholder="Middle Name" required>
              </div>
              <div class="col">
                <input type="text"class="form-control" placeholder="Last Name" required>
              </div>
            </div>

            <div class="form-row h6 pl-3 pt-3">Address</div>
            <div class="form-row">
              <div class="col">
                <input type="text"class="form-control" placeholder="Street" required>
              </div>
              <div class="col">
                <input type="text"class="form-control" placeholder="Barangay" required>
              </div>
              <div class="col">
                <input type="text"class="form-control" placeholder="City" required>
              </div>
            </div>
             <div class="form-row pt-2">
              <div class="col">
                <input type="text"class="form-control" placeholder="Province" required>
              </div>
              <div class="col">
                <input type="text"class="form-control" placeholder="ZIP Code" required>
              </div>
              <div class="col">
                <input type="text"class="form-control" placeholder="Country" required>
              </div>
            </div>

            <div class="form-row h6 pl-2 pt-3">
              <div class="col">Birthdate</div>
              <div class="col">Status</div>
              <div class="col">Gender</div>
            </div>
            <div class="form-row">
              <div class="col">
                <input type="date" class="form-control">
              </div>
              <div class="col">
                <select class="form-control">
                  <option>Single</option>
                  <option>Married</option>
                  <option>Divorced</option>
                  <option>Widow/Widower</option>
                </select>
              </div>
              <div class="col">
                <select class="form-control">
                  <option>Male</option>
                  <option>Female</option>
                </select>
              </div>
            </div>

            <div class="form-row h6 pl-2 pt-3">
               <div class="col-6">Spouse</div>
               <div class="col-4"></div>
               <div class="col-2">No. of Children</div>
            </div>
            <div class="form-row">
              <div class="col-6">
                <input type="text"class="form-control" placeholder="Spouse's Name" required>
              </div>
              <div class="col-4">
                <input type="text"class="form-control" placeholder="Spouse's Occupation" required>
              </div>
              <div class="col-2">
                <input type="number"class="form-control" placeholder="0" required>
              </div>
            </div>

            <div class="form-row h6 pl-2 pt-3">
               <div class="col">Mother</div>
               <div class="col"></div>
            </div>
            <div class="form-row">
              <div class="col">
                <input type="text"class="form-control" placeholder="Mother's Name" required>
              </div>
              <div class="col">
                <input type="text"class="form-control" placeholder="Mother's Occupation" required>
              </div>
            </div>

            <div class="form-row h6 pl-2 pt-3">
               <div class="col">Father</div>
               <div class="col"></div>
            </div>
            <div class="form-row">
              <div class="col">
                <input type="text"class="form-control" placeholder="Father's Name" required>
              </div>
              <div class="col">
                <input type="text"class="form-control" placeholder="Father's Occupation" required>
              </div>
            </div>

            <div class="form-row h6 pl-2 pt-3">
                <div class="col-3">Height(cm)</div>
                 <div class="col-3">Weight(kg)</div>
                 <div class="col-6">Religion</div>
            </div>
            <div class="form-row">
              <div class="col-3">
                <input type="number"class="form-control" placeholder="0" required>
              </div>
              <div class="col-3">
                <input type="number"class="form-control" placeholder="0" required>
              </div>
              <div class="col-6">
                <input type="text"class="form-control" placeholder="Religion" required>
              </div>
            </div>
            
            <div class="form-row h6 pl-3 pt-3">Profile Picture</div>
            <div class="form-row pl-2 align-items-end">
              <div class="picBox"><img src="{% static 'images/img1.jpg' %}" class="picBoxImage" id="profDisplay"></div>
              <label for="profpic" class="profpic-upload ml-2 mb-0">
                <i class="material-icons align-middle">add_photo_alternate</i>
                Choose File
              </label>
              <input type="file" id="profpic" accept="image/*" onchange="readURL(this);" hidden>
            </div>

            <div class="form-row h6 pl-2 pt-5">
              <button type="button" class="btn formButton px-5" id="personalNext">Next</button>
            </div>

          </div>
          <!--/Personal information-->

          <!--Educational background-->
          <div id="educationalBackground" hidden>

            <div class="form-row h6 pl-2">
              <div class="col-6">Elementary School</div>
               <div class="col-3">Grade</div>
               <div class="col-3">Year</div>
            </div>
            <div class="form-row">
              <div class="col-6">
                <input type="text"class="form-control" placeholder="School" required>
              </div>
              <div class="col-3">
                <input type="number"class="form-control" placeholder="0" required>
              </div>
              <div class="col-3">
                <input type="date"class="form-control" required>
              </div>
            </div>
            <div class="form-row h6 pl-3 pt-2">Awards</div>
            <div class="form-row">
              <div class="col-3">
                <input type="number"class="form-control awardsCounter" placeholder="0" required>
              </div>
              <div class="col-9">
                <ol class="awardsList">
                  <!--Append awards here-->
                </ol>
              </div>
            </div>

            <div class="form-row h6 pl-2 pt-5">
              <div class="col-6">Junior High School</div>
               <div class="col-3">Grade</div>
               <div class="col-3">Year</div>
            </div>
            <div class="form-row">
              <div class="col-6">
                <input type="text"class="form-control" placeholder="School" required>
              </div>
              <div class="col-3">
                <input type="number"class="form-control" placeholder="0" required>
              </div>
              <div class="col-3">
                <input type="date"class="form-control" required>
              </div>
            </div>
            <div class="form-row h6 pl-3 pt-2">Awards</div>
            <div class="form-row">
              <div class="col-3">
                <input type="number"class="form-control awardsCounter" placeholder="0" required>
              </div>
              <div class="col-9">
                <ol class="awardsList">
                  <!--Append awards here-->
                </ol>
              </div>
            </div>

            <div class="form-row h6 pl-2 pt-5">
              <div class="col-6">Senior High School</div>
               <div class="col-3">Grade</div>
               <div class="col-3">Year</div>
            </div>
            <div class="form-row">
              <div class="col-6">
                <input type="text"class="form-control" placeholder="School" required>
              </div>
              <div class="col-3">
                <input type="number"class="form-control" placeholder="0" required>
              </div>
              <div class="col-3">
                <input type="date"class="form-control" required>
              </div>
            </div>
            <div class="form-row pt-2">
              <div class="col-6">
                <input type="text"class="form-control" placeholder="Strand" required>
              </div>
              <div class="col-6"></div>
            </div>
            <div class="form-row h6 pl-3 pt-2">Awards</div>
            <div class="form-row">
              <div class="col-3">
                <input type="number"class="form-control awardsCounter" placeholder="0" required>
              </div>
              <div class="col-9">
                <ol class="awardsList">
                  <!--Append awards here-->
                </ol>
              </div>
            </div>

            <div class="form-row h6 pl-2 pt-5">
              <div class="col-6">College</div>
               <div class="col-3">Level</div>
               <div class="col-3">Year</div>
            </div>
            <div class="form-row">
              <div class="col-6">
                <input type="text"class="form-control" placeholder="School" required>
              </div>
              <div class="col-3">
                <input type="number"class="form-control" placeholder="0" required>
              </div>
              <div class="col-3">
                <input type="date"class="form-control" required>
              </div>
            </div>
            <div class="form-row pt-2">
              <div class="col-6">
                <input type="text"class="form-control" placeholder="Course" required>
              </div>
              <div class="col-6"></div>
            </div>
            <div class="form-row h6 pl-3 pt-2">Awards</div>
            <div class="form-row">
              <div class="col-3">
                <input type="number"class="form-control awardsCounter" placeholder="0" required>
              </div>
              <div class="col-9">
                <ol class="awardsList">
                  <!--Append awards here-->
                </ol>
              </div>
            </div>

            <div class="form-row h6 pl-2 pt-5">
              <div class="col-6">Post Graduate</div>
               <div class="col-3">Level</div>
               <div class="col-3">Year</div>
            </div>
            <div class="form-row">
              <div class="col-6">
                <input type="text"class="form-control" placeholder="School" required>
              </div>
              <div class="col-3">
                <input type="number"class="form-control" placeholder="0" required>
              </div>
              <div class="col-3">
                <input type="date"class="form-control" required>
              </div>
            </div>
            <div class="form-row pt-2">
              <div class="col-6">
                <input type="text"class="form-control" placeholder="Course" required>
              </div>
              <div class="col-6"></div>
            </div>
            <div class="form-row h6 pl-3 pt-2">Awards</div>
            <div class="form-row">
              <div class="col-3">
                <input type="number"class="form-control awardsCounter" placeholder="0" required>
              </div>
              <div class="col-9">
                <ol class="awardsList"><!--Append awards here--></ol>
              </div>
            </div>
            
            <div class="form-row h6 pl-2 pt-5">
              <button type="button" class="btn formButton px-5 mr-2" id="educationalPrevious">Previous</button>
              <button type="button" class="btn formButton px-5" id="educationalNext">Next</button>
            </div>

          </div>
          <!--/Educational background-->

          <!--Professional background-->
          <div id="professionalBackground" hidden>

            <div class="form-row h6 pl-2">Number of Trainings</div>
            <div class="form-row">
              <div class="col-3">
                <input type="number"class="form-control trainingsCounter" placeholder="0">
              </div>
              <div class="col-9"></div>
            </div>
            <div class="form-row">
              <div class="col">
                <ol id="trainingsList"><!--Append trainings here--></ol>
              </div>
            </div>
            
            <div class="form-row h6 pl-2 pt-5">
              <button type="button" class="btn formButton px-5 mr-2" id="professionalPrevious">Previous</button>
              <button type="submit" class="btn formButton px-5">Finish</button>
            </div>

          </div>
          <!--/Professional background-->

        </form>
        <!--/Add customer form-->
      </div>
    </div>
  </div>

  <!--scripts-->
	<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/customerScript.js' %}"></script>
	<!--/scripts-->
</body>
</html>