{% extends 'navigation/navigation.html' %}
{% load static %}
{% block title %}Customer Registration{% endblock %}

  {% block header %}
  <link rel="stylesheet" href="{% static 'css/customerStyles.css' %}">
  {% endblock %}

  {% block content %}
  <div class="container px-4 pb-5">
    <div class="row h3">New Customer Form</div>
    <div class="row text-center mt-4" id="stepLinks">

      <div class="col h5 mb-0 active" id="personalLink" href="#personalInfo">
        Personal Information
      </div>
      <div class="col h5 mb-0" id="educationalLink" href="#educationalBackground">
        Educational Background
      </div>
      <div class="col h5 mb-0" id="professionalLink" href="#professionalBackground">
        Professional Background
      </div>

    </div>
    <div class="row" style=" border-right: 1px solid #fcd462;">
        <div class="col-4 p-0"><div id="progress1"></div></div>
        <div class="col-4 p-0"><div id="progress2"></div></div>
        <div class="col-4 p-0"><div id="progress3"></div></div>
    </div>
    <div class="row border border-top-0">
      <div class="col pt-3 pb-3">
        <!--Add customer form-->
        <form id="addCustomerForm" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <!--Personal information-->
          <div id="personalInfo">

            <span class="text-danger">* Required</span>
            <div class="form-row h6 pl-2 pt-3">
              <div class="col">First Name<span class="text-danger">&nbsp;*</span></div>
              <div class="col">Middle Name</div>
              <div class="col">Last Name<span class="text-danger">&nbsp;*</span></div>
            </div>
            <div class="form-row">
              <div class="col">
                <input type="text" class="form-control" name="firstName" maxlength="50" value required>
                <span class="text-danger"></span>
              </div>
              <div class="col">
                <input type="text" class="form-control" name="middleName" maxlength="50">
              </div>
              <div class="col">
                <input type="text" class="form-control" name="lastName" maxlength="50" value required>
                <span class="text-danger"></span>
              </div>
            </div>

            <div class="form-row h6 pl-2 pt-4">
              <div class="col">Street</div>
              <div class="col">Barangay<span class="text-danger">&nbsp;*</span></div>
              <div class="col">City<span class="text-danger">&nbsp;*</span></div>
            </div>
            <div class="form-row">
              <div class="col">
                <input type="text" class="form-control" name="street" maxlength="50">
              </div>
              <div class="col">
                <input type="text" class="form-control" name="barangay" maxlength="50" value required>
                <span class="text-danger"></span>
              </div>
              <div class="col">
                <input type="text" class="form-control" name="city" maxlength="50" value required>
                <span class="text-danger"></span>
              </div>
            </div>
            <div class="form-row h6 pl-2 pt-2">
              <div class="col">Province<span class="text-danger">&nbsp;*</span></div>
              <div class="col">Zip Code<span class="text-danger">&nbsp;*</span></div>
              <div class="col">Country<span class="text-danger">&nbsp;*</span></div>
            </div>
             <div class="form-row">
              <div class="col">
                <input type="text" class="form-control" name="province" maxlength="50" value required>
                <span class="text-danger"></span>
              </div>
              <div class="col">
                <input type="number" class="form-control" name="zipCode" min="0" oninput="if (parseInt(this.value) > 9999) {
                  this.value = parseInt(this.value/10); }" onkeydown="if(event.key==='.'||event.key==='-'||event.key==='+'||event.key==='e'||event.key==='E'){event.preventDefault();}" value required>
                <span class="text-danger"></span>
              </div>
              <div class="col">
                <input type="text" class="form-control" name="country" maxlength="50" value required>
                <span class="text-danger"></span>
              </div>
            </div>

            <div class="form-row h6 pl-2 pt-4">
              <div class="col">Birthdate<span class="text-danger">&nbsp;*</span></div>
              <div class="col">Status<span class="text-danger">&nbsp;*</span></div>
              <div class="col">Gender<span class="text-danger">&nbsp;*</span></div>
            </div>
            <div class="form-row">
              <div class="col">
                <input type="date" name="birthdate" class="form-control" value required>
                <span class="text-danger"></span>
              </div>
              <div class="col">
                <select class="form-control" name="status" required>
                  <option disabled selected> -- Select an option -- </option>
                  <option value="Single">Single</option>
                  <option value="Married">Married</option>
                  <option value="Divorced">Divorced</option>
                  <option value="Widow/Widower">Widow/Widower</option>
                </select>
                <span class="text-danger"></span>
              </div>
              <div class="col text-center"><!--
                <select class="form-control" name="gender">
                  <option>Male</option>
                  <option>Female</option>
                </select>-->
                <div class="form-row yellowBorder">
                  <div class="col my-auto">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gender" id="maleRadio" value="Male">
                      <label class="form-check-label" for="maleRadio">
                        Male
                      </label>
                    </div>
                  </div>
                  <div class="col my-auto">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gender" id="femaleRadio" value="Female">
                      <label class="form-check-label" for="femaleRadio">
                        Female
                      </label>
                    </div>
                  </div>
                </div>
                <span class="text-danger genderWarn d-flex flex-fill" style="padding-top: 1.5px;"></span>
              </div>
              
            </div>

            <div class="form-row h6 pl-2 pt-3">
               <div class="col-6">Spouse's Name</div>
               <div class="col-4">Spouse's Occupation</div>
               <div class="col-2">No. of Children</div>
            </div>
            <div class="form-row">
              <div class="col-6">
                <input type="text" class="form-control" name="spouseName" maxlength="50" >
              </div>
              <div class="col-4">
                <input type="text" class="form-control" name="spouseOccupation" maxlength="50" >
              </div>
              <div class="col-2">
                <input type="number" class="form-control" name="childrenNum" min=0 value="0" oninput="this.value = parseInt(this.value); if (parseInt(this.value) > 99) {
                  this.value = parseInt(this.value/10); }" onkeydown="if(event.key==='.'||event.key==='-'){event.preventDefault();}">
              </div>
            </div>

            <div class="form-row h6 pl-2 pt-3">
               <div class="col">Mother's Name<span class="text-danger">&nbsp;*</span></div>
               <div class="col">Mother's Occupation</div>
            </div>
            <div class="form-row">
              <div class="col">
                <input type="text" class="form-control" name="motherName" maxlength="50" value required>
                <span class="text-danger"></span>
              </div>
              <div class="col">
                <input type="text" class="form-control" name="motherOccupation" maxlength="50" >
              </div>
            </div>

            <div class="form-row h6 pl-2 pt-3">
               <div class="col">Father's Name<span class="text-danger">&nbsp;*</span></div>
               <div class="col">Father's Occupation</div>
            </div>
            <div class="form-row">
              <div class="col">
                <input type="text" class="form-control" name="fatherName" maxlength="50" value required>
                <span class="text-danger"></span>
              </div>
              <div class="col">
                <input type="text" class="form-control" name="fatherOccupation" maxlength="50" >
              </div>
            </div>

            <div class="form-row h6 pl-2 pt-3">
                <div class="col-3">Height(cm)<span class="text-danger">&nbsp;*</span></div>
                 <div class="col-3">Weight(kg)<span class="text-danger">&nbsp;*</span></div>
                 <div class="col-6">Religion</div>
            </div>
            <div class="form-row">
              <div class="col-3">
                <input type="number" class="form-control" name="height" min="0" oninput="this.value = parseFloat(this.value); if (parseInt(this.value) > 999) {
                  this.value = parseInt(this.value/10); }" onkeydown="if(event.key==='-'){event.preventDefault();}" value required>
                <span class="text-danger"></span>
              </div>
              <div class="col-3">
                <input type="number" class="form-control" name="weight" min="0" oninput="this.value = parseFloat(this.value); if (parseInt(this.value) > 999) {
                  this.value = parseInt(this.value/10); }" onkeydown="if(event.key==='-'){event.preventDefault();}" value required>
                <span class="text-danger"></span>
              </div>
              <div class="col-6">
                <input type="text" class="form-control" name="religion" maxlength="50" >
              </div>
            </div>
            
            <div class="form-row h6 pl-3 pt-3">Profile Picture</div>
            <div class="form-row pl-2 align-items-end">
              <div class="picBox"><img src="{% static 'images/avatar.png' %}" class="picBoxImage" id="profDisplay"></div>
              <label for="profpic" class="profpic-upload ml-2 mb-0">
                <i class="material-icons align-middle">add_photo_alternate</i>
                Choose File
              </label>
              <input type="file" id="profpic" name="profilePic" accept="image/*" onchange="readURL(this);" hidden>
            </div>

            <div class="form-row h6 pl-2 pt-5">
              <button type="button" class="btn formButton px-5" id="personalNext">Next</button>
            </div>

          </div>
          <!--/Personal information-->

          <!--Educational background-->
          <div id="educationalBackground" hidden>

            <div class="form-row h6 pl-2">
              <div class="col-6">Elementary School</div>
               <div class="col-3">Grade</div>
               <div class="col-3">Year</div>
            </div>
            <div class="form-row">
              <div class="col-6">
                <input type="text"class="form-control" placeholder="School" >
              </div>
              <div class="col-3">
                <input type="number"class="form-control" placeholder="0" >
              </div>
              <div class="col-3">
                <input type="date"class="form-control" >
              </div>
            </div>
            <div class="form-row h6 pl-3 pt-2">Awards</div>
            <div class="form-row">
              <div class="col-3">
                <input type="number"class="form-control awardsCounter" placeholder="0" >
              </div>
              <div class="col-9">
                <ol class="awardsList">
                  <!--Append awards here-->
                </ol>
              </div>
            </div>

            <div class="form-row h6 pl-2 pt-5">
              <div class="col-6">Junior High School</div>
               <div class="col-3">Grade</div>
               <div class="col-3">Year</div>
            </div>
            <div class="form-row">
              <div class="col-6">
                <input type="text"class="form-control" placeholder="School" >
              </div>
              <div class="col-3">
                <input type="number"class="form-control" placeholder="0" >
              </div>
              <div class="col-3">
                <input type="date"class="form-control" >
              </div>
            </div>
            <div class="form-row h6 pl-3 pt-2">Awards</div>
            <div class="form-row">
              <div class="col-3">
                <input type="number"class="form-control awardsCounter" placeholder="0" >
              </div>
              <div class="col-9">
                <ol class="awardsList">
                  <!--Append awards here-->
                </ol>
              </div>
            </div>

            <div class="form-row h6 pl-2 pt-5">
              <div class="col-6">Senior High School</div>
               <div class="col-3">Grade</div>
               <div class="col-3">Year</div>
            </div>
            <div class="form-row">
              <div class="col-6">
                <input type="text"class="form-control" placeholder="School" >
              </div>
              <div class="col-3">
                <input type="number"class="form-control" placeholder="0" >
              </div>
              <div class="col-3">
                <input type="date"class="form-control" >
              </div>
            </div>
            <div class="form-row pt-2">
              <div class="col-6">
                <input type="text"class="form-control" placeholder="Strand" >
              </div>
              <div class="col-6"></div>
            </div>
            <div class="form-row h6 pl-3 pt-2">Awards</div>
            <div class="form-row">
              <div class="col-3">
                <input type="number"class="form-control awardsCounter" placeholder="0" >
              </div>
              <div class="col-9">
                <ol class="awardsList">
                  <!--Append awards here-->
                </ol>
              </div>
            </div>

            <div class="form-row h6 pl-2 pt-5">
              <div class="col-6">College</div>
               <div class="col-3">Level</div>
               <div class="col-3">Year</div>
            </div>
            <div class="form-row">
              <div class="col-6">
                <input type="text"class="form-control" placeholder="School" >
              </div>
              <div class="col-3">
                <input type="number"class="form-control" placeholder="0" >
              </div>
              <div class="col-3">
                <input type="date"class="form-control" >
              </div>
            </div>
            <div class="form-row pt-2">
              <div class="col-6">
                <input type="text"class="form-control" placeholder="Course" >
              </div>
              <div class="col-6"></div>
            </div>
            <div class="form-row h6 pl-3 pt-2">Awards</div>
            <div class="form-row">
              <div class="col-3">
                <input type="number"class="form-control awardsCounter" placeholder="0" >
              </div>
              <div class="col-9">
                <ol class="awardsList">
                  <!--Append awards here-->
                </ol>
              </div>
            </div>

            <div class="form-row h6 pl-2 pt-5">
              <div class="col-6">Post Graduate</div>
               <div class="col-3">Level</div>
               <div class="col-3">Year</div>
            </div>
            <div class="form-row">
              <div class="col-6">
                <input type="text"class="form-control" placeholder="School" >
              </div>
              <div class="col-3">
                <input type="number"class="form-control" placeholder="0" >
              </div>
              <div class="col-3">
                <input type="date"class="form-control" >
              </div>
            </div>
            <div class="form-row pt-2">
              <div class="col-6">
                <input type="text"class="form-control" placeholder="Course" >
              </div>
              <div class="col-6"></div>
            </div>
            <div class="form-row h6 pl-3 pt-2">Awards</div>
            <div class="form-row">
              <div class="col-3">
                <input type="number"class="form-control awardsCounter" placeholder="0" >
              </div>
              <div class="col-9">
                <ol class="awardsList"><!--Append awards here--></ol>
              </div>
            </div>
            
            <div class="form-row h6 pl-2 pt-5">
              <button type="button" class="btn formButton px-5 mr-2" id="educationalPrevious">Previous</button>
              <button type="button" class="btn formButton px-5" id="educationalNext">Next</button>
            </div>

          </div>
          <!--/Educational background-->

          <!--Professional background-->
          <div id="professionalBackground" hidden>

            <div class="form-row h6 pl-2">Number of Trainings</div>
            <div class="form-row">
              <div class="col-3">
                <input type="number"class="form-control trainingsCounter" placeholder="0">
              </div>
              <div class="col-9"></div>
            </div>
            <div class="form-row">
              <div class="col">
                <ol id="trainingsList"><!--Append trainings here--></ol>
              </div>
            </div>
            
            <div class="form-row h6 pl-2 pt-5">
              <button type="button" class="btn formButton px-5 mr-2" id="professionalPrevious">Previous</button>
              <button type="submit" class="btn formButton px-5">Finish</button>
            </div>

          </div>
          <!--/Professional background-->

        </form>
        <!--/Add customer form-->
      </div>
    </div>
  </div>
  {% endblock %}

  <!--scripts-->
  {% block footer %}
  <script src="{% static 'js/customerScript.js' %}"></script>
  <script>
		$("a[href='../customer/registration']").children().addClass('active').parent().parent().siblings().children().children().removeClass('active');
	</script>
  {% endblock %}
	<!--/scripts-->