/*Step styles*/
#stepLinks div {
  cursor: pointer;
  padding: 10px 0px;
}

#stepLinks div.active {
  cursor: default;
  color: #212121;
}

#personalLink {
  border: 1px solid #fcd462;
  border-top-left-radius: 10px;
  border-right: 0px;
  color: #868e96;
  background-color: #fcd462;
  /*border-bottom: 5px solid #628bfc;*/
}

#educationalLink {
  border: 1px solid #fcd462;
  border-left: 0px;
  border-right: 0px;
  color: #868e96;
  background-color: #fcd462;
}

#professionalLink {
  border: 1px solid #fcd462;
  border-top-right-radius: 10px;
  border-left: 0px;
  color: #868e96;
  background-color: #fcd462;
}

.row.border.border-top-0 {
  border-color: #fcd462 !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#stepLinks :hover:not(.active) {
  background-color: #868e96;;
  border-color: #868e96;
  color: white;
}

#progress1{
  width: 100%;
  height: 5px;
  background: #628bfc;
  transition: width .5s;
}

#progress2{
  width: 0%;
  height: 5px;
  background: #628bfc;
  transition: width .5s;
}

#progress3{
  width: 0%;
  height: 5px;
  background: #628bfc;
  transition: width .5s;
}
/*/Step styles*/

/*Add customer form*/
#addCustomerForm input {
  border-radius: 10px;
  height: auto;
  padding: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-color: #fcd462;
}

#addCustomerForm input:focus {
  border-color: #fcd462;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px #fcd462;
}

#addCustomerForm select {
  border-radius: 10px;
  height: auto;
  padding: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-color: #fcd462;
}

#addCustomerForm select:focus {
  border-color: #fcd462;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px #fcd462;
}

.profpic-upload {
  border: 1px solid #fcd462;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 10px;
  color: #868686;
  width: 140px;
  height: 40px;
}

.picBox {
  width: 200px;
  height: 200px;
  border: 1px solid #fcd462;
  border-radius: 10px;
}

.picBoxImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.formButton {
  background-color: #628bfc;
  color: white;
}

.awardsList li {
  margin-bottom: 10px;
}
/*/Add customer form*/

/*Datatable styles*/
table {
  border: 1px solid #fcd462;
  text-align: center;
}

thead,tfoot {
  background-color: #fcd462;
  text-align: center;
}

.viewColor {
  color: #628bfc;
}

.deleteColor {
  color: #dc3545;
}

.viewColor:focus, .deleteColor:focus, .close:focus {
  outline: 0;
}
/*/Datatable styles*/